html, body {
  font: 200 27px/45px 'Marvel', sans-serif;
  background-color: #fafafa;
  color: #444;
  overflow: none;
}

#main {
  width: 960px;
  margin: 50px;
}

#avatar {
  width: 128px;
  height: 128px;

  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #dedede url('../assets/avatar.jpeg') no-repeat;
  background-size: 128px 128px;
  border: 1px solid #dedede;
  z-index: -10;
}

#info-name {
  position: relative;
  padding: 10px;
  width: 300px;
  top:  -130px;
  left: 132px;
}

#info-content {
  position: relative;
  top: -130px;
  width: 450px;
}

.small-text {
  font: 200 22px/45px 'Marvel', sans-serif;
  color: #66757f;
}

#tweets {
  float: left;
  width: 400px;
  z-index: 10;
}

#content {
  padding: 50px;
  width: 400px;
  height: 500px;
  float: right;
}
